<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>fr.rima.tpservlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClientServlet</servlet-name>
        <servlet-class>fr.rima.tpservlet.ShowClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClientInState</servlet-name>
        <servlet-class>servlet.ShowClientInState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>fr.rima.tpservlet.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateForm</servlet-name>
        <servlet-class>StateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientInStateForm</servlet-name>
        <servlet-class>fr.rima.tpservlet.clientInStateForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClientServlet</servlet-name>
        <url-pattern>/ShowClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClientInState</servlet-name>
        <url-pattern>/ShowClientInState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateForm</servlet-name>
        <url-pattern>/StateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientInStateForm</servlet-name>
        <url-pattern>/clientInStateForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
